<h2>Professors List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Salary</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let professor of professors">
      <td>{{ professor.firstName }}</td>
      <td>{{ professor.lastName }}</td>
      <td>{{ professor.email }}</td>
      <td>{{ professor.phone }}</td>
      <td>{{ professor.salary }}</td>
      <td>
        <button (click)="updateProfessor(professor.id)" class="btn btn-info">
          Update
        </button>
        <button
          (click)="deleteProfessor(professor.id)"
          class="btn btn-danger"
          style="margin-left: 1rem"
        >
          Delete
        </button>
        <button
          (click)="professorDetails(professor.id)"
          class="btn btn-info"
          style="margin-left: 1rem"
        >
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>
